<%= turbo_frame_tag :modal do %>  

  <div 
    id="modal"
    data-controller="turbo-modal"
    data-turbo-modal-target="modal"
    data-action="turbo:submit-end->turbo-modal#submitEnd"
    
  >
    <h2 class="text-center">Editar pacientes</h2>

    <%= render "admin/pacients/forms/edit", pacient: @pacient %>

    <br>
  </div>
<% end %>