<%= turbo_frame_tag :modal do %>  
  <div 
    id="modal"
    data-controller="turbo-modal"
    data-turbo-modal-target="modal"
    data-action="turbo:submit-end->turbo-modal#submitEnd"
    
  >
    <h2 class="my-3 text-center">Nuevo Paciente</h2>
    <hr>
    <%= render "admin/pacients/forms/create", pacient: @pacient %>

    <br>

  </div>
<% end %>
