<%= turbo_frame_tag :modal do %>  

  <div 
    id="modal"
    data-controller="turbo-modal"
    data-turbo-modal-target="modal"
    data-action="turbo:submit-end->turbo-modal#submitEnd"
    
  >
    <h2 class="my-3 text-center">Nueva Cita</h2>

    <%= render "admin/appointments/forms/create", appointment: @appointment %>

    <br>
  </div>
<% end %>