<%= turbo_frame_tag :modal do %>  
  <div class="py-3 px-2">

    <%= @appointment.description %>

    <div>
    
      <%= link_to "Back to appointments", admin_appointments_path %>

    </div>
  </div>
<% end %>