<div class="bg-danger rounded-2 px-2">

    <ul style="padding-left:0;">
      <% @object.errors.each do |error| %>
        <li class="nav-link text-white"><%= error.full_message %></li>
      <% end %>
    </ul>
</div>

