<div style="border:1px solid black;padding:2rem;">  
  <div class="container">
    <h2 style="text-align:center;font-size:3rem;">FICHA CLÍNICA</h2>
    <h4 style="text-align:center;"> Identificación del paciente</h4>
    
    <table style="width:100%;" border="1">

    <tr> <th>FEMALES<td style="width:200px;">0.0002<td style="width:400px;">43%<td style="width:400px;">Daniel Jimenez
  </table>
  </div>
  
</div>

