<div style="border:1px solid black;">  
  <p style="color: green;" class="display-5"><%= notice %></p>

  <p class="display-3" ><%= @pacient.first_name %></p>
  <p class="bg-danger">dakjdasldas</p>
</div>